{% extends 'base.admin.html.twig' %}
{% import "@SbSAdminLTE/Layout/main_macros.html.twig" as macros %}

{% block header_content %}
    {{ macros.page_header("Admin LTE", "Short description of homepage.") }}
{% endblock %}

{% block page_content %}
    <h2>Admin panel</h2>
{% endblock %}