{% extends 'base.admin.html.twig' %}

{% block header_content %}
    {{ macros.page_header("Admin LTE", "Short description of homepage.") }}
{% endblock %}

{% block page_content %}
    <h2>Admin panel</h2>
{% endblock %}