<form action="{{ url('cart_add', {productId: product.id}) }}" method="post" id="add-to-cart" style="display: inline-block;">
    <input type="hidden" name="token" value="{{ csrf_token('addToCart') }}" />
    <button type="submit" class="btn btn-default add-to-cart">
        <i class="fa fa-shopping-cart"></i>В корзину
    </button>
</form>