<div class="brands_products">
    <h2>Brands</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            {% for brand in brands %}
                <li><a href="#"> <span class="pull-right">(0)</span>{{ brand.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>