{% extends 'base.admin.html.twig' %}
{% block header_content %}
{% endblock %}
{% block page_content %}

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Редактировать продукт</h3>
        </div>
        <div class="box-body">
            {{ include('admin/product/_form.html.twig', {form : editForm}) }}
        </div>
    </div>

{% endblock %}